body,
html {
	background: #f6f6f6!important;
	padding: 0;
	margin: 0
}

.shadows {
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
	margin: 20px 0;
	padding-bottom: 36px !important;
}

.top_actions {
	font-weight: bold;
	color: #000;
	font-size: 12px;
	margin-bottom: 6px;
	display: inline-block;
	width: 100%
}

.refresh,
.sel_box,
.dates {
	float: left;
	display: inline-block
}

.refresh,
.sel_box {
	margin-right: 5px;
}


.refresh a {
	margin-left: 5px;
	color: #b6000e;
	padding: 6px 10px 9px 10px;
	border: 1px solid #ededed;
	border-radius: 3px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
	display: inline-block;
	font-size: 14px;
	line-height: 5px;
	background-color: #ffffff;
}


.sel_box select {
	height: 24px;
	padding: 0 5px
}

.dates a {
	float: left;
	margin-right: 5px;
	background: url(images/calendar.png) no-repeat center;
	background-size: 100%;
	width: 24px;
	height: 24px;
	display: inline-block
}

.table_cont {
	padding: 20px 30px;
}

.table {
	border: 1px solid #ddd;
	background-color: #ffffff;
	margin-bottom:0!important;
	border-bottom:0;
}

.table_row, .expand {
	height: 25px;
	border-bottom: 1.5px solid #eeeeee;
	position: relative;	
}

.expand {
	background:#fff; 
	border:1px solid #ddd; 
	border-top:0;
	cursor:pointer;
}

.expand:hover, .table_row:hover {
	background-color: #f6f6f6;
}

.table_row:hover:after, .expand:hover:after {
	color:#b6000e;
}

.table_row:after {
	position: absolute;
	right: 10px;
	content: '›';
	color: #eeeeee;
	font-weight: bold;
	font-size: 35px;
	line-height: 15px
}

.expand:after {
	position: absolute;
	left: 50%;
	content: '˅';
	color: #999999;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;	
}

.col-3 .table_cont {
	margin: 20px auto
}